body {
    background-color: #fff8f5;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 18px;
}
img {
    width: 180px;important;
    height: 140px;important
    object-fit: cover;
}
